with-red/flows (1).json
[
    {
        "id": "515aa1a7329b6092",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "parse_telemetry",
        "type": "function",
        "z": "515aa1a7329b6092",
        "name": "Parse Telemetry",
        "func": "// Ensure msg.payload is a string\nlet raw = typeof msg.payload === 'string' ? msg.payload : JSON.stringify(msg.payload);\n\n// Split the string by pipe |\nlet parts = raw.split('|');\nlet data = {};\n\n// Iterate through parts to create the object\nparts.forEach(part => {\n    let [key, val] = part.split(':');\n    if (key && val) {\n        // Trim whitespace and force keys to lowercase to match your UI nodes\n        data[key.trim().toLowerCase()] = val.trim();\n    }\n});\n\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 340,
        "wires": [
            [
                "vin_text",
                "temp_text",
                "mileage_text",
                "state_text",
                "1a5ae36c0a372402",
                "16f837e4f14a8896"
            ]
        ]
    },
    {
        "id": "vin_text",
        "type": "ui_text",
        "z": "515aa1a7329b6092",
        "group": "edabcf2bc5cde4da",
        "width": "",
        "height": "",
        "name": "",
        "label": "VIN",
        "format": "{{msg.payload.vin}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2470,
        "y": 280,
        "wires": []
    },
    {
        "id": "temp_text",
        "type": "ui_text",
        "z": "515aa1a7329b6092",
        "group": "edabcf2bc5cde4da",
        "width": "",
        "height": "",
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload.temp}} °C",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2480,
        "y": 320,
        "wires": []
    },
    {
        "id": "mileage_text",
        "type": "ui_text",
        "z": "515aa1a7329b6092",
        "group": "edabcf2bc5cde4da",
        "width": "",
        "height": "",
        "name": "",
        "label": "Mileage",
        "format": "{{msg.payload.mileage}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2470,
        "y": 360,
        "wires": []
    },
    {
        "id": "state_text",
        "type": "ui_text",
        "z": "515aa1a7329b6092",
        "group": "edabcf2bc5cde4da",
        "width": "",
        "height": "",
        "name": "",
        "label": "System State",
        "format": "{{msg.payload.state}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2470,
        "y": 400,
        "wires": []
    },
    {
        "id": "894e61b68d29e18d",
        "type": "mqtt in",
        "z": "515aa1a7329b6092",
        "name": "Listen to Everything",
        "topic": "#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1b2046c8d36f3c72",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1990,
        "y": 340,
        "wires": [
            [
                "parse_telemetry"
            ]
        ]
    },
    {
        "id": "1a5ae36c0a372402",
        "type": "ui_text",
        "z": "515aa1a7329b6092",
        "group": "edabcf2bc5cde4da",
        "width": "",
        "height": "",
        "name": "",
        "label": "timestamp",
        "format": "{{msg.payload.timestamp}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2470,
        "y": 460,
        "wires": []
    },
    {
        "id": "16f837e4f14a8896",
        "type": "ui_text",
        "z": "515aa1a7329b6092",
        "group": "edabcf2bc5cde4da",
        "width": "",
        "height": "",
        "name": "",
        "label": "sig",
        "format": "{{msg.payload.sig}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 2430,
        "y": 520,
        "wires": []
    },
    {
        "id": "edabcf2bc5cde4da",
        "type": "ui_group",
        "name": "Default",
        "tab": "b48067d75b13794c",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b2046c8d36f3c72",
        "type": "mqtt-broker",
        "name": "",
        "broker": "host.docker.internal",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b48067d75b13794c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83f186b7436e223c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]